h1 {
    font-family: cursive;
    color: rgb(255, 255, 255);
    background-color: rgb(80, 66, 93);
    text-align:center
}

body {
    background-color: rgb(158, 140, 175);
}


h2 {
    font-family: cursive;
    background-color: rgb(81, 66, 95);
    color: white;
}

#image-p {
    text-align: center;
}